.vscode/**
**/*.ts
tsconfig.tsbuildinfo
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
node_modules/**
!node_modules/vscode-*/**
!node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!node_modules/{semver,lru-cache,yallist,typescript-parsec}/**
!node_modules/zinnia-language-*/**